[filter "lfs"]
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[user]
	name = ThaddeusJiang / 天海はら
	email = thaddeusjiang@gmail.com
[core]
	excludesfile = /Users/jifajiang/.gitignore_global
	ignorecase = false
	editor = vim
[push]
	default = current
[alias]
	tree = log --all --graph --decorate --oneline --simplify-by-decoration
[init]
	defaultBranch = main
[pull]
	ff = only
